{% extends "global/base.html" %}

{% block main %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/servicos.css' %}"/>
<main>

 <!-- Hero section -->
<section class="hero-services">
  <div class="container-lg col-10 col-lg-11">
    <article class="row flex-lg-row-reverse align-items-center g-5">
      
      <!-- Imagem hero -->
      <figure class="col-12 col-lg-6 img-container">
        <img src="{% static 'img/services_hero3.png' %}" alt="Auto center com serviço 24/7" class="img-fluid">
      </figure>

      <!-- Conteúdo hero -->
      <header class="col-12 col-lg-6">
        <h2 class="fw-bold display-4" id="hero-title">Soluções em Seguro e Assistência</h2>
        <p class="lead" id="hero-text">
          Desde a cobertura completa para o seu automóvel até serviços exclusivos de assistência,
          nossa missão é garantir que você esteja seguro em qualquer situação.
        </p>
        <button class="btn-cotacao" onclick="window.location.href='index.html';" role="button">Simule sua cotação</button>
      </header>

    </article>
  </div>
</section>


    <!-- Section Serviços Desktop -->
    <section class="py-3 py-md-5 py-xl-8 services">
      <div class="container">
        <div class="row justify-content-start">
          <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
            <h2 class="ms-3 my-4 display-6 text-start">Nossos Serviços</h2>
          </div>
        </div>
      </div>

      <article class="container d-none d-lg-block services-desktop">
        <div class="row">
          <div class="col-12">
            <div class="container-fluid">
              <div class="row gy-3 gy-md-4">
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card items-services">
                    <div class="card-body text-center p-4 p-xxl-4">
                      <h4 class="mb-4"><i class="fas fa-car-crash icon-cards"></i> Cobertura de Colisão</h4>
                      <p class="mb-4">Nossa cobertura de colisão garante que você esteja protegido em
                        caso de acidente, seja você o culpado ou não.</p>

                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card items-services">
                    <div class="card-body text-center p-4 p-xxl-4">
                      <h4 class="mb-4"><i class="fas fa-tools icon-cards"></i> Assistência na Estrada</h4>
                      <p class="mb-4">Nosso serviço de assistência na estrada garante que você nunca
                        fique na mão, oferecendo ajuda com pneus furados, problemas na bateria ou reboque quando
                        necessário.</p>

                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card items-services">
                    <div class="card-body text-center p-4 p-xxl-4">
                      <h4 class="mb-4"><i class="fas fa-shield-alt icon-cards"></i> Proteção Abrangente</h4>
                      <p class="mb-4">Nosso plano de proteção abrangente cobre roubo, vandalismo,
                        desastres naturais e muito mais, proporcionando tranquilidade enquanto você dirige.</p>

                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card items-services">
                    <div class="card-body text-center p-4 p-xxl-4">
                      <h4 class="mb-4"><i class="fas fa-car-battery icon-cards"></i> Cobertura de Bateria</h4>
                      <p class="mb-4">Com nosso plano de cobertura de bateria, vamos te ajudar se a
                        bateria do seu carro falhar, garantindo que você continue na estrada sem interrupções.</p>

                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card items-services">
                    <div class="card-body text-center p-4 p-xxl-4">
                      <h4 class="mb-4"><i class="fas fa-wrench icon-cards"></i> Assistência em Quebra Mecânica
                      </h4>
                      <p class="mb-4">Em caso de falha mecânica, nossa assistência em quebra mecânica
                        garante que você receba a ajuda necessária, de forma rápida e eficiente.</p>

                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card items-services">
                    <div class="card-body text-center p-4 p-xxl-4">
                      <h4 class="mb-4"><i class="fas fa-gas-pump icon-cards "></i> Cobertura de Combustível</h4>
                      <p class="mb-4">Nosso serviço de cobertura de combustível ajuda caso você fique sem
                        gasolina, oferecendo reabastecimento no local em que se encontra.</p>

                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card items-services">
                    <div class="card-body text-center p-4 p-xxl-4">
                      <h4 class="mb-4"><i class="fas fa-key icon-cards"></i> Substituição de Chave</h4>
                      <p class="mb-4">Perdeu sua chave? Nosso serviço de substituição de chave oferece um
                        atendimento rápido para garantir que você não fique na rua.</p>

                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card items-services">
                    <div class="card-body text-center p-4 p-xxl-4">
                      <h4 class="mb-4"><i class="fas fa-people-carry icon-cards"></i> Seguro de Acidente Pessoal
                      </h4>
                      <p class="mb-4">Nosso seguro de acidente pessoal garante assistência médica,
                        hospitalar e reembolso em caso de acidentes envolvendo você ou seus passageiros.</p>

                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card items-services">
                    <div class="card-body text-center p-4 p-xxl-4">
                      <h4 class="mb-4"><i class="fas fa-cloud icon-cards"></i> Cobertura para Desastres Naturais
                      </h4>
                      <p class="mb-4">Proteja-se contra danos causados por desastres naturais como
                        enchentes, terremotos ou tempestades com nossa cobertura especializada.</p>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
      <!-- Section Serviços -->

      <article class="container d-block d-lg-none services-mobile">
        <div class="row">
          <div class="col-12">
            <div class="container-fluid">
              <div class="row gy-3 gy-md-4">
                <div class="col-12">
                  <div class="accordion d-block d-lg-none" id="accordionServices">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                          <i class="fas fa-car-crash"></i>
                          <h6>Cobertura de Colisão</h6>
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#accordionServices">
                        <div class="accordion-body">
                          Nossa cobertura de colisão garante que você esteja protegido em caso de acidente, seja você o
                          culpado ou não.
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          <i class="fas fa-tools"></i>
                          <h6>Assistência na Estrada</h6>
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionServices">
                        <div class="accordion-body">
                          Nosso serviço de assistência na estrada garante que você nunca fique na mão, oferecendo ajuda
                          com pneus furados, problemas na bateria ou reboque quando necessário.
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          <i class="fas fa-shield-alt"></i>
                          <h6>Proteção Abrangente</h6>
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionServices">
                        <div class="accordion-body">
                          Nosso plano de proteção abrangente cobre roubo, vandalismo, desastres naturais e muito mais,
                          proporcionando tranquilidade enquanto você dirige.
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          <i class="fas fa-car-battery"></i>
                          <h6>Cobertura de Bateria</h6>
                        </button>
                      </h2>
                      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                        data-bs-parent="#accordionServices">
                        <div class="accordion-body">
                          Com nosso plano de cobertura de bateria, vamos te ajudar se a bateria do seu carro falhar,
                          garantindo que você continue na estrada sem interrupções.
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                          <i class="fas fa-wrench"></i>
                          <h6>Assistência em Quebra Mecânica</h6>
                        </button>
                      </h2>
                      <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                        data-bs-parent="#accordionServices">
                        <div class="accordion-body">
                          Em caso de falha mecânica, nossa assistência em quebra mecânica garante que você receba a
                          ajuda necessária, de forma rápida e eficiente.
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                          <i class="fas fa-globe"></i>
                          <h6>Cobertura Global</h6>
                        </button>
                      </h2>
                      <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                        data-bs-parent="#accordionServices">
                        <div class="accordion-body">
                          Oferecemos cobertura global para quem viaja para o exterior, garantindo que seu carro esteja
                          protegido em qualquer lugar do mundo.
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingSeven">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                          <i class="fas fa-gas-pump"></i>
                          <h6>Cobertura de Combustível</h6>
                        </button>
                      </h2>
                      <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                        data-bs-parent="#accordionServices">
                        <div class="accordion-body">
                          Nosso serviço de cobertura de combustível ajuda caso você fique sem gasolina, oferecendo
                          reabastecimento no local em que se encontra.
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingEight">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                          <i class="fas fa-key"></i>
                          <h6>Substituição de Chave</h6>
                        </button>
                      </h2>
                      <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                        data-bs-parent="#accordionServices">
                        <div class="accordion-body">
                          Perdeu sua chave? Nosso serviço de substituição de chave oferece um atendimento rápido para
                          garantir que você não fique na rua.
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingNine">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                          <i class="fas fa-people-carry"></i>
                          <h6>Seguro de Acidente Pessoal</h6>
                        </button>
                      </h2>
                      <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
                        data-bs-parent="#accordionServices">
                        <div class="accordion-body">
                          Nosso seguro de acidente pessoal garante assistência médica, hospitalar e reembolso em caso de
                          acidentes envolvendo você ou seus passageiros.
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTen">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                          <i class="fas fa-cloud"></i>
                          <h6>Cobertura para Desastres Naturais</h6>
                        </button>
                      </h2>
                      <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen"
                        data-bs-parent="#accordionServices">
                        <div class="accordion-body">
                          Proteja-se contra danos causados por desastres naturais como enchentes, terremotos ou
                          tempestades com nossa cobertura especializada.
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>

    </section>


  </main>
  {% endblock main %}
