
{% extends "global/base.html" %}
{% block main %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/planos.css' %}"/>
  <main>

    <section class="pricing-container" id="pricing">


      <!-- Hero Section - Planos -->
      <header id="hero-pricing" class="pricing-header py-5"
        style="background: url('{% static 'img/headerDesktop_planos.jpg' %}') center/cover no-repeat">
        <div class="container col-lg-8 col-10">
          <h2 class="my-2 fw-semibold display-5 pricing-header-title">Encontre a proteção ideal para o seu veículo</h2>
          <p class="my-3 pricing-header-desc">
            Oferecemos planos flexíveis e completos para garantir sua segurança e tranquilidade no dia a dia. Os valores
            podem variar de acordo com o perfil do condutor, modelo do veículo e outras condições. Faça uma simulação e
            descubra a melhor opção para você!
          </p>
          <button href="#" class="btn-cotacao mt-1 fs-4">Cotação rápida</button>
        </div>
      </header>

      <section class="container mt-2 pt-4 planos-cards">
        <h3 class="title-heading display-6 my-4 pb-3 border-bottom">Nossos Planos</h3>
        <div class="row gy-4">
    
            <!-- Plano Básico -->
            <article class="col-12 col-md-6 col-lg-6 col-xl-4 d-flex justify-content-center">
                <div class="pricing-box mt-4 w-100">
                    <header>
                      <i class="fas fa-car-side h1"></i>
                      <h3 class="f-20">Plano Básico</h3>
                    </header>
                    <ul class="mt-4 pt-2 cards-features ps-0">
                        <li><i class="fas fa-check-circle text-success"></i> Proteção contra terceiros</li>
                        <li><i class="fas fa-check-circle text-success"></i> Assistência 24 horas</li>
                        <li><i class="fas fa-check-circle text-success"></i> Guincho até 100 km</li>
                        <li><i class="fas fa-times-circle text-danger"></i> Carro reserva por 30 dias</li>
                    </ul>
                    <p class="mt-4 pt-2 text-muted">Plano essencial para quem deseja uma cobertura básica e suporte emergencial.</p>
                    <section class="pricing-plan mt-4 pt-2">
                        <h3 class="text-muted">A partir de <span class="plan pl-3 text-dark">R$ 99,00/mês</span></h3>
                    </section>
                    <button onclick="window.location.href='index.html#form-cotacao';" class="btn-pricing mt-3">Fazer cotação</button>
                </div>
            </article>
    
            <!-- Plano Intermediário -->
            <article class="col-12 col-md-6 col-lg-6 col-xl-4 d-flex justify-content-center">
                <div class="pricing-box mt-4 w-100">
                    <div class="pricing-badge">
                        <span class="badge">Mais Popular</span>
                    </div>
    
                    <header>
                        <i class="fas fa-car-crash h1"></i>
                        <h3 class="f-20">Plano Intermediário</h3>
                    </header>
    
                    <section class="mt-4 pt-2 cards-features">   
                        <ul>
                            <li><i class="fas fa-check-circle text-success"></i> Proteção contra terceiros</li>
                            <li><i class="fas fa-check-circle text-success"></i> Assistência 24 horas</li>
                            <li><i class="fas fa-check-circle text-success"></i> Guincho até 200 km</li>
                            <li><i class="fas fa-check-circle text-success"></i> Cobertura contra roubo e furto</li>
                            <li><i class="fas fa-times-circle text-danger"></i> Carro reserva por 30 dias</li>
                        </ul>
                    </section>
    
                    <p class="mt-4 pt-2 text-muted">O plano ideal para quem busca mais segurança e cobertura em diferentes situações.</p>
    
                    <section class="pricing-plan mt-4 pt-2">
                        <h3 class="text-muted">A partir de <span class="plan pl-3 text-dark">R$ 119,00/mês</span></h3>
                    </section>
    
                    <button onclick="window.location.href='index.html#form-cotacao';" class="btn-pricing mt-3">Fazer cotação</button>
                </div>
            </article>
    
            <!-- Plano Premium -->
            <article class="col-12 col-md-6 col-lg-6 col-xl-4 d-flex justify-content-center">
                <div class="pricing-box mt-4 w-100">
                    <header>
                      <i class="fas fa-shield-alt h1"></i>
                      <h3 class="f-20">Plano Premium</h3>
                    </header>
                    <ul class="mt-4 pt-2 cards-features ps-0">
                        <li><i class="fas fa-check-circle text-success"></i> Proteção contra terceiros</li>
                        <li><i class="fas fa-check-circle text-success"></i> Assistência 24 horas</li>
                        <li><i class="fas fa-check-circle text-success"></i> Guincho ilimitado</li>
                        <li><i class="fas fa-check-circle text-success"></i> Cobertura total (roubo, furto, colisão, incêndio)</li>
                        <li><i class="fas fa-check-circle text-success"></i> Carro reserva por 30 dias</li>
                        <li><i class="fas fa-check-circle text-success"></i> Cobertura para vidros, faróis e retrovisores</li>
                    </ul>
                    <p class="mt-4 pt-2 text-muted">O plano mais completo, oferecendo total proteção para o seu veículo.</p>
                    <section class="pricing-plan mt-4 pt-2">
                        <h3 class="text-muted">A partir de <span class="plan pl-3 text-dark">R$ 139,00/mês</span></h3>
                    </section>
                    <button onclick="window.location.href='index.html#form-cotacao';" class="btn-pricing mt-3">Fazer cotação</button>
                </div>
            </article>
    
        </div>
    </section>
    

  </main>
  {% endblock main %}
