<!-- HEADER -->
<header id="header-top">
    <nav class="navbar navbar-expand-md nav-container">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.html">
          <picture><img src="assets/img/logo_omnis.png"
              alt="Imagem de um escudo em forma de O com um veiculo pendurado em um cadeado. A sua direita escrito: mnis"
              class="d-inline-block" />
          </picture>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars menu-hamburguer"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" aria-current="page" href="{% url 'home'%}">Início</a>
            <a class="nav-link" href="{% url 'planos'%}">Planos</a>
            <a class="nav-link" href="{% url 'servicos'%}">Serviços</a>
            <button class="btn-cotacao-header" onclick="window.location.href='{% url 'home'%}#form-cotacao'">Cotar grátis</button>
          </div>
        </div>
      </div>

    </nav>
  </header>
  <!-- END HEADER -->

    