
{% extends "global/base.html" %}

{% block main %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/resultadoCotacao.css' %}"/>
  <main>
    <section id="resultado" class="container col-xxl-8 px-4 py-5">
      <article class="resultado-header mb-5">
        <h2 class="display-5">Olá <span id="primeiroNome"></span>,</h2>
        <p>Aqui estão os resultados da sua cotação</p>
      </article>
  
      <article class="resultado-body">
        <h3>Dados do Usuário</h3>
        <table class="table table-striped">
          <tbody>
            <tr>
              <th scope="row">Nome</th>
              <td id="resultadoNomeCliente"></td>
            </tr>
            <tr>
              <th scope="row">CPF</th>
              <td id="resultadoCpfCliente"></td>
            </tr>
            <tr>
              <th scope="row">Data de Nascimento</th>
              <td id="resultadoDataNascCliente"></td>
            </tr>
            <tr>
              <th scope="row">Telefone</th>
              <td id="resultadoTelefoneCliente"></td>
            </tr>
          </tbody>
        </table>

        <h4>Endereço</h4>
        <table class="table table-striped">
          <tbody>
            <tr>
              <th scope="row">Logradouro</th>
              <td id="resultadoLogradouro"></td>
            </tr>
            <tr>
              <th scope="row">Bairro</th>
              <td id="resultadoBairro"></td>
            </tr>
            <tr>
              <th scope="row">Cidade</th>
              <td id="resultadoCidade"></td>
            </tr>
            <tr>
              <th scope="row">Estado</th>
              <td id="resultadoEstado"></td>
            </tr>
          </tbody>
        </table>
  
        <h3 class="mt-5">Veículo Cotado</h3>
        <div class="row">
          <div class="col-md-8">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <th scope="row">Marca</th>
                  <td id="resultadoMarca"></td>
                </tr>
                <tr>
                  <th scope="row">Modelo</th>
                  <td id="resultadoModelo"></td>
                </tr>
                <tr>
                  <th scope="row">Ano</th>
                  <td id="resultadoAno"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- <div class="col-md-4">
            <img id="resultadoFotoVeiculo" src="#" alt="Foto do Veículo" class="img-fluid" />
          </div> -->
        </div>
      </article>
    </section>
  
    <section id="precos" class="container col-xxl-8 px-4">
      <div class="row">
        <div class="col-md-12">
          <h3>Preços e Planos</h3>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Plano</th>
                  <th scope="col">Preço Mensal</th>
                  <th scope="col">Cobertura</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Plano Básico</td>
                  <td id="valor-basico"></td>
                  <td>Cobertura contra terceiros + Guincho</td>
                </tr>
                <tr>
                  <td>Plano Intermediário</td>
                  <td id="valor-intermediario"></td>
                  <td>Cobertura contra roubo e furto</td>
                </tr>
                <tr>
                  <td>Plano Premium</td>
                  <td id="valor-premium"></td>
                  <td>Cobertura total + carro reserva</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    <section class="cta container col-xxl-8 px-4 py-5">
      <header class="cta-header">
        <h2>Gostou dos resultados?</h2>
        <p>Estamos à disposição para tirar suas dúvidas ou fornecer mais informações sobre sua cotação. Entre em contato agora!</p>
      </header>
      
      <article class="cta-body">
        <div class="sac-tel">
          <h4>Central de Atendimento</h4>
          <p><a href="tel:+40028922"><strong>4002 8922</strong></a>: Capitais e regiões metropolitanas.</p>
          <p><a href="tel:+08001012222"><strong>0800 101 2222</strong></a>: Demais localidades.</p>
          <p><a href="tel:+08001024444"><strong>0800 102 4444</strong></a>: Pessoas com deficiência auditiva e de fala.</p>
    
          <h5>Horário de Atendimento</h5>
          <ul>
            <li><strong>Segunda a Sexta: </strong> 09:00 - 18:00</li>
            <li><strong>Sábado: </strong> 09:00 - 13:00</li>
            <li><strong>Domingo: </strong> Fechado</li>
          </ul>
        </div>
    
        <div class="sac-whatsapp">
          <h4>Fale Conosco pelo WhatsApp</h4>
          <p>Se preferir, entre em contato diretamente com nosso atendimento via WhatsApp para uma cotação rápida e personalizada!</p>
          <a href="https://wa.me/5521999999999" class="btn btn-success" target="_blank">
            <i class="fab fa-whatsapp"></i> Conversar pelo WhatsApp
          </a>
        </div>
      </article>
    </section>
    
    
  </main>

  <script src="{% static 'js/cotacao/resultadoCotacao.js' %} "></script>
  <script type="module" src="{% static 'js/cotacao/calculadora.js' %} "></script>

  {% endblock main %}